@import 'styles/fonts';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Roboto-Regular, sans-serif;
}

canvas {
  position: fixed;
  top: 80px;
  left: 0;
  cursor: grab;
}

canvas:active {
  cursor: grabbing;
}
