@import 'styles/fonts';
@import "./styles/variables";
@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Roboto-Regular, sans-serif;
  background-color: $light;
}

section {
  padding: 4% 0;
}

form {
  .contact-field-input {

    .input {
      -webkit-appearance: none;
      background-color: #eeeeee;
      width: 100%;
      border: 1px solid #bbbbbb;
      border-radius: 4px;
      padding: 16px;
      margin: 0;
      height: 40px;
      min-height: 40px;
      color: $dark;
      font-family: Roboto-Regular, sans-serif;

      &::placeholder {
        color: #999999;
      }
    }

    .contact-form-label {
      display: none;
    }
  }

  button {
    padding: 8px 40px;
    margin: 10px 0 0 0;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: Roboto-SemiBold, sans-serif;
    transition: color 300ms ease 0ms, background-color 300ms ease 0ms;
    font-size: 14px;

    &.btn-primary-outline {
      border: 2px solid $quaternary;
      background-color: transparent;
      color: $quaternary;

      &:hover {
        color: $light;
        background-color: $quaternary;
      }
    }
  }
}
